/* .aboutSection p {
    max-width: 35rem;
    margin: auto;
}

.aboutSection::before,
.aboutSection::after {
    transition: all 0.3s ease-in;
    content:'';
    display: block;
    position: fixed;
    background: url("../images/about/leaf.svg");
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0;
} */

/* Right Leaf */
/* .aboutSection::before { 
    top: 16.5rem;
    right: -19rem;
    width: 35rem;
    height: 40rem;
    transform: rotate(25deg);
} */

/* Left Leaf */
/* .aboutSection::after {
    top: 6rem;
    left: -13rem;
    width: 30rem;
    height: 35rem;
    transform: scaleX(-1) rotate(10deg);
}

#pullup.show .aboutSection::before,
#pullup.show .aboutSection::after {
    opacity: 0.2;
}

@media (max-width: 760px){
    #pullup.show .aboutSection::after {
      opacity: 0;
    }
}
 */
